.tag-button {
    display: inline;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 3px;
    padding-top: 3px;
    font-size: 14px;
}

.age-button {
    display: inline-block;
    vertical-align: bottom;
}

.tag-style {
    display: inline-block;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 3px;
    padding-top: 3px;
}

.filtertag-list {
    display: table;
    margin: 0 auto;
    margin-top: 30px;
}

.filterage-list {
    display: table;
    margin: 0 auto;
}

.filter-button {
    display: inline-block;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.input-button {
    vertical-align: super;
}

a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
}

.btn-back {
    margin-left: 20px;
    margin-top: 20px;
}
.btn-red {
    background-color: #dd5138;
    color: #fff !important;
    text-decoration: none !important
}
.btn-red:hover {
	background-color: #dd5138;
}
.btn {
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.v-data-table>.v-data-table__wrapper .v-data-table__mobile-row {
    height: auto;
    min-height: 48px;
    justify-content: center;
}
