body {
	font-family: 'Dosis', sans-serif;
	color: #404142;
	font-size: 16px;
	letter-spacing: 0.8px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	text-decoration: none;
	color: #337ab7;
	background-color: transparent;
}
a:hover, a:focus, a:active, a:visited {
	text-decoration: none;
}
a:hover {
	color: #333;
}

/* Buttons override */
.btn {
	text-transform: uppercase;
	font-weight: 600;
}
.btn-lg {
	padding: 15px 40px;
	font-size: 16px;
	line-height: none;
	border-radius: 4px;
	margin-left: 10px;
	margin-top: 10px;
}
.btn-red {
	background-color: #dd5138;
	color: #fff;
}
.btn-red:hover {
	background-color: #dd5138;
}
.btn-yellow {
	background-color: #fcd93b;
	color: #2a2a2a;
	opacity: 0.8;
}
.btn-yellow:hover {
	opacity: 1;
}
.btn-yellow.disabled:hover,
.btn-yellow[disabled]:hover {
	opacity: 0.65;
}
.content-ct {
	text-align: center;
}

/* ------------------
Navigation
------------------ */
.side-menu {
	position: fixed;
	right: 30px;
	top: 50%;
	transform: translateY(-73px);
	z-index: 99;
}
.side-menu ul li {
	text-align: right;
	margin: 10px 0;
}
.side-menu ul li a span {
	display: inline-block;
}
.side-menu ul li a span.menu-title {
	color: #fff;
	position: relative;
	margin-right: 10px;
	text-transform: uppercase;
	font-size: 12px;
	background-color: #dd5138;
	padding: 3px 10px;
	font-weight: 600;
	border-radius: 3px;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
	-webkit-transform-origin: 100% 50%;
	-moz-transform-origin: 100% 50%;
	-ms-transform-origin: 100% 50%;
	-o-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	opacity: 0;
}
.side-menu ul li a:hover span.menu-title {
	opacity: 1;
}
.side-menu ul li a span.dot {
	position: relative;
	background-color: #dd5138;
	border-radius: 2em;
	height: 10px;
	width: 10px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.side-menu ul li a:hover span.dot {
	transform: scale(1.8);
}

.language {
	position: absolute;
	right: 1px;
	margin: 5px;
}

.language img{
	margin-bottom: 3px;
	margin-left: 3px;
}

.hero-header {
	background: #ffffff;
	min-height: 600px;
	padding: 5em;
	color: #000000;
}
.hero-header h1 {
	margin: 0.5em 0 0 0;
}
.hero-header a {
	color: black;
}
.hero-header h4 {
	font-weight: normal;
	opacity: 0.6;
	letter-spacing: 1px;
	margin: 2em 0;
}
.logo {
	max-width: 95%;
}
.hero-header .logo {
	max-width: 450px;
}
.hero-header .btn {
	margin-top: 3em;
	color: white;
}
.hero-header .btn:hover {
	color: black;
}
.hero-header .screenshotes {
	max-width: 100%;
}
.me-row {
	padding: 30px 0;
}
.row-title {
	font-weight: 400;
}
.feature {
	padding: 20px;
	margin-top: 30px;
}
.feature span {
	font-size: 5em;
	color: #016cc7;
}

.downloads {
	padding-top: 10px;
	padding-bottom: 10px;
}

.app .feature {
	width: 31.333333%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	margin-right: 20px;
	border: 3px solid #f6f6f6;
	border-radius: 5px;
}
.app .feature:hover {
	box-shadow: 3px 3px 10px #ccc;
	transform: translateY(-10px);
}
.app-img {
	max-width: 40%;
	border: 4px solid #efefef;
	border-radius: 50%;
}
.app a{
	color: #2a2a2a;
}
ul.app-social li {
	list-style: none;
	display: inline-block;
	margin: 10px 5px;
}
ul.app-social li a {
	font-size: 0.2em;
	padding: 0 10px;
}
ul.app-social li a:hover {
	text-decoration: none;
}
a span.ti-facebook {
	color: #3b5998;
}
a span.ti-twitter-alt {
	color: #4099ff;
}

#features {
	background-color: #fcd93b;
}

#components {
	background-color: #fcd93b;
}

.join {
	display: inline-block;
}

.activity-gallery {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: stretch;
}

.card-article {
	height: 100%;
	flex-direction: unset !important;
}

.carousel-color {
	background-color: #dd5138 !important;
	width: 40px !important;
    height: 7px !important;
}

.col-article {
	margin-bottom: 5px;
	padding: 5px;
}

.header-area {
	background-size: cover;
	height: 100vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.activity-gallery-item {
	display: flex;
	flex-flow: row;
	flex-direction: column;
	flex: 0 0 0%;
	margin: 30px;
}
.activity-gallery-item .card-body {
	height: 100%;
	display: flex;
	flex-direction: column;
}
.activity-gallery-item .btn-red {
	margin-top: auto;
}

.websites {
	background-color: #fcd93b;
}
.websites .web {
	font-size: 4em;
	color: #dd5138;
	font-weight: 100;
}
.websites .web sup {
	font-size: 0.4em;
}

.code {
	background-color: #ECF0F1;
	font-family: serif;
	padding-left: 10px;
}

.nav-tabs {
	margin-top: 20px;
}

.installation .media {
	margin-top: 4em;
}
.installation .media-object {
	max-width: 100px;
}
.installation .media-heading {
	font-weight: 600;
	border-bottom: 2px solid #efefef;
	padding-bottom: 10px;
}
.installation .media-body h5 {
	text-transform: uppercase;
	font-weight: 600;
}


.footer {
	background-color: #2a2a2a;
	margin-top: 30px;
	color: #fff;
}
.footer p {
	margin-bottom: 0;
}
.footer a {
	color: #fcd93b;
}
.footer-credit {
	padding: 40px;
}
ul.footer-menu {
	text-align: right;
}
ul.footer-menu li {
	display: inline-block;
}
ul.footer-menu li a {
	font-size: 12px;
	color: #fcd93b;
	padding-right: 20px;
}
ul.footer-menu li a:hover {
	color: #dd5138;
}
.selectpicker{
	background-color: #404142;
	color: white;
	border-radius: 10px;
	width: 150px;
	border: 0px;
	padding:  3px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}
.styleSelect select {
	cursor: pointer;
	border-radius: 10px;
	background: #404142;
	width: 100%;
	padding: 5px 10px;
	font-size: 16px;
	border: none;
	-webkit-appearance: none;
	color: white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.styleSelect {
	width: 120px;
	height: fit-content;
	overflow: hidden;
	border-radius: 10px;
	margin-right: 125px;
}
.flag{
	position: absolute;
	background-color: #404142;
	margin-top: 10px;
	margin-right: 85px;
	height: 25px;
	width: 40px;
}
.flagLoc{
	position: absolute;
	top: 10px;
	right: 120px;
}
.language {
	position: absolute;
	top: 10px;
	right: 10px;
}
.contact {
	background-color: #3a3a3a;
	color: #fff;
	padding: 1em;
}
.contact h3 {
	margin-bottom: 30px;
}
.form-control {
	padding: 20px 15px;
	border: 3px solid #eee;
	background-color: #f9f9f9;
	box-shadow: none;
}
.help-block {
	font-size: 12px;
}
.form-control-feedback {
	top: 15px;
	right: 15px;
}
.activities-list {
	position: relative;
	height: 60vh;
	background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.6)),url('../img/all_activities.png');
	width: 100%;
	height: 400px;
	background-size: cover;
	color: black;
	padding: 20px;
}

.sponsor-btn {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
	  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
	letter-spacing: 0;
	background-color: #fafbfc;
	box-shadow: 0 1px 0 rgb(27 31 35 / 4%), inset 0 1px 0 rgb(255 255 255 / 25%);
	transition: all 0.2s cubic-bezier(0.3, 0, 0.5, 1);
	padding: 5px 16px;
	margin-bottom: 8px;
	cursor: pointer;
	border-radius: 6px;
	border: 1px solid rgba(27, 31, 35, 0.15);
	display: flex;
	justify-content: space-between;
	position: relative;
	width: 8.5rem;
	align-items: center;
  }
  .sponsor-link {
	color: #24292e;
	font-size: 14px;
	font-weight: 600;
	position: absolute;
	right: 20%;
	margin-left: 10px;
  }
  .sponsor-icon {
	color: #6a737d;
	font-size: 1.6rem;
	transition: all 30ms ease;
  }
  .sponsor-btn:hover {
	background-color: #f0f3f5;
  }
  .sponsor-btn:hover .sponsor-icon {
	font-size: 1.8rem;
  }
/* ------------------
Navigation
------------------ */
.left-502 {
	display: inline-block;
	width: 200px;
	padding: 10px;
}

.logo-502 {
	width: 100px;
	position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.title-502 {
	margin-top: 0px;
}

.warning-502 {
	margin-top: 120px;
}

.right-502 {
	display: inline-block;
	vertical-align: bottom;
	padding: 10px;
}

.errorcode-502 {
	margin-top: 40px;
	font-family: monospace;
}

/* ========================================
Custom Media Queries
======================================== */

/* Mobile */
@media (max-width: 530px) {
	.flag {
		display: none !important;
	}
	.styleSelect {
		display: contents !important;
	}
}

@media (max-width: 767px) {
	.hero-header {
		padding: 3em 1em 1em 1em;
		text-align: center;
		max-height: 550px;
	}
	.app .feature {
		width: 100%
	}
	.footer-credit {
		text-align: center;
		padding: 40px 20px;
	}
	ul.footer-menu {
		text-align: center;
		margin-top: 30px;
	}
	#websites h3 {
		display: none;
	}
	#home img{
		max-width: 50vw;
	}
}

@media (max-width: 390px){
	.hero-header h4{
		display: none !important;
	}
}


@media (max-width: 321px){
	#home .btn{
		margin-top: 10px;
	}
}

@media (max-width: 180px){
	.hero-header h4{
		display: none;
	}
}

@media (max-width: 180px){
	.hero-header .btn{
		display: none;
	}
}

/* iPad Portrait */

@media (min-width: 768px) and (max-width: 991px) {
	.hero-header {
		padding: 3em 1em 1em 1em;
		text-align: center;
	}
	.app .feature {
		width: 49%;
		margin-right: 7px;
	}
	ul.footer-menu {
		margin-top: 0;
	}
}


/* iPad Landscape */

@media (min-width: 992px) and (max-width: 1199px) {
	.app .feature {
		width: 49%;
		margin-right: 9px;
	}
}

@media (min-width: 1400px) {
	body {
		font-size: 22px;
	}
	h4 {
		font-size: 24px;
	}
	h4 i {
		line-height: 30px !important;
	}
	h3 {
		font-size: 30px;
	}
	h2 {
		font-size: 36px;
	}
	h1 {
		font-size: 42px;
	}
	.btn {
		font-size: 18px;
	}
	.btn-lg {
		font-size: 22px;
	}
}
