
h1 {
	color: #005fe4;
	font-size: 18px;
	font-family: Verdana;
	margin-top: 50px;
	margin-left: 40px;
}

p {
	font-family: Verdana;
	font-size: 12px;
	margin-left: 40px;
}

li {
	font-family: Verdana;
	font-size: 12px;	
	margin-left: 40px;	
}

iframe {
	font-family: Verdana;
	font-size: 12px;	
	margin-left: 40px;	
}

pre {
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	font-size: 13px;
	line-height: 19px;
	overflow: auto;
	padding: 6px 10px;
	border-radius: 3px;
	margin-left: 40px;	
}

.zone {
	background-color: white;
	height: 500px;
	margin-top: 0px;
}

.responsive {
	margin-top: -30px;
	margin-left: 30%;
	width: 400px;
}

.logo {
	margin-left: 20%;
	width: 600px;
	margin-top: -60px;
}

.baseline {
	margin-left: auto;
	margin-right: auto;
	margin-top: -0px;
	text-align: center;
	font-size: 30px;
	font-family: Verdana;
	color: black;
}

.stores {
	margin-top: 5%;
	width: 100%;
	text-align: center;
	vertical-align: top;
}

.onestore {
	margin-right: 20px;
}

.text {
	margin-top: 50px;
	font-family: Verdana;
}

.architecture {
	margin-top: 20px;
	font-family: Verdana;
}

.compatibility {
	font-size: 12px;
	color: darkgray;
	font-family: Verdana;
	margin-top: 40px;
}

.android {
}

.play {
	width: 100px;
	margin-top: -20px;
}

.badge {
	margin-left: 80%;
}

.architecture-image {
	padding-left: 40px;
	padding-right: 40px;
}

.important-text {
	color: #ff2b34;
}

.margin {
	margin-top: 50px;
}

.download-button {
	margin-left: 300px;
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background-color:#f24537;
	-webkit-border-top-left-radius:23px;
	-moz-border-radius-topleft:23px;
	border-top-left-radius:23px;
	-webkit-border-top-right-radius:23px;
	-moz-border-radius-topright:23px;
	border-top-right-radius:23px;
	-webkit-border-bottom-right-radius:23px;
	-moz-border-radius-bottomright:23px;
	border-bottom-right-radius:23px;
	-webkit-border-bottom-left-radius:23px;
	-moz-border-radius-bottomleft:23px;
	border-bottom-left-radius:23px;
	text-indent:0;
	border:1px solid #d02718;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:250px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #810e05;
}

.download-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background-color:#c62d1f;
}

.download-button:active {
	position:relative;
	top:1px;
}