<!-- Start: End content -->
</div>
<!-- End: End content -->

<!-- Start: Footer -->
<div class="container-fluid footer">
	<div class="row footer-credit">
		<div class="col-md-12 col-sm-12">
			<p><span data-l10n-id="oss">Sugarizer est un logiciel libre basé sur la</span> <a href="http://www.apache.org/licenses/LICENSE-2.0" title="Apache License" target="_blank"><span data-l10n-id="licence">licence Apache 2</span></a>, <span data-l10n-id="code">le code source est disponible sur GitHub</span> <a href="https://github.com/llaske/sugarizer" title="GitHub" target="_blank"><span data-l10n-id="here">ici</span></a>.
				<span data-l10n-id="activities">La plupart des activités utilisent cette licence également mais certaines peuvent utiliser une licence différente, vérifiez le fichier README pour plus d'information.</span>
			</p><br/>
			<p>&copy; 2013-2022, Lionel Laské, <a href="http://sugarlabs.org" title="Sugar Labs" target="_blank">Sugar Labs Inc.</a> et <a href="https://github.com/llaske/sugarizer/blob/dev/docs/credits.md" target="_blank">Contributeurs</a>.</p><br/>
			<a href="https://github.com/llaske/sugarizer" target="_blank"><i class="fab fa-github-square fa-3x" style="margin-left:8px;margin-top:5px;color:#ffffff;"></i></a>
			<a href="https://twitter.com/sugarizerapp" target="_blank"><i class="fab fa-twitter-square fa-3x" style="margin-left:8px;margin-top:5px;color:#ffffff;"></i></a>
			<a href="https://www.facebook.com/Sugarizer" target="_blank"><i class="fab fa-facebook-square fa-3x" style="margin-left:8px;margin-top:5px;color:#ffffff;"></i></a>
		</div>
	</div>
</div>
<!-- End: Footer -->
</body>
</html>