<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="description" content="{{description}}">
	<meta name="author" content="Lionel Laské">
	<title>Sugarizer | {{title}}</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
	<link rel="icon" href="../../img/favicon.ico" type="image/x-icon">
	<link href="../../css/style.css" rel="stylesheet">
	<link href='../../css/dosis-font.css' rel='stylesheet' type='text/css'>
	<link href="../../css/themify-icons.css" rel="stylesheet">
	<link href='../../css/fontawesome.min.css' rel='stylesheet' type='text/css'>
	<link href="../../css/featherlight.min.css" type="text/css" rel="stylesheet"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	<meta property="og:title" content="{{title}}">
	<meta name="twitter:title" content="{{title}}">
	<meta property="og:description" content="{{description}}">
	<meta name="twitter:description" content="{{description}}">
	<meta property="og:type" content="article">
	<meta property="og:image:type" content="image/png">
	<meta property="og:image" content="https://sugarizer.org/docs/articles/{{thumbnail}}">
	<meta name="twitter:image" content="https://sugarizer.org/docs/articles/{{thumbnail}}">
</head>
<body>

<!-- Start: Header -->
<script type="text/javascript">
	var langs = ["en", "fr"];
	function changeflag(c){
		lang = langs[c];
		document.location = "{{fileprefix}}_"+lang+".html";
	}
</script>
<div style="background-color: #fcd93b;height: 60px;">
	<div class="language" align="right">
		<div class="styleSelect" style="display: inline-block;" >
			<select id="Lang" class="units" onclick="changeflag(this.selectedIndex)"  onchange="changeflag(this.selectedIndex)">
				<option value ="0"{{en_selected}}>English</option>
				<option value ="1"{{fr_selected}}>Français</option>
			</select>
		</div>
	</div>
</div>

<div class="flagLoc">
	<img class="flag" id="flag" src="../../img/{{language}}.svg">
</div>
<!-- End: Header -->

<!-- Start: Begin content -->
<div style="margin: 1rem">
<!-- End: Begin content -->